*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
@font-face {
    font-family: 'poppins';
    src: url(/font/poppins-regular-webfont.woff2);
}
body{
font-family: 'poppins';
background-color: #dde1e7;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.keyboard-section{
background-color: #dde1e7;
width: 900px;
/* height: 300px; */
border-radius: 10px;
padding: 25px;
box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.3);
}
.row{
display: flex;
justify-content: center;
gap: 18px;
margin: 18px 0;
  }
.keyboard-section .row input{
border: none;
background-color: #dde1e7;
box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.3);
height: 50px;
min-width: 50px;
font-size: 20px;
color: #808080;
cursor: pointer;
border-radius: 5px;
}
.row input[value='SPACE']{
width: 60%;
}
.row input:focus{
color: #3498db;
font-size: 19px;
box-shadow: inset -3px -3px 7px #ffffff73, inset 2px 2px 5px rgba(94,104,121,0.3);
}
@media screen and (max-width:800px) {
    .keyboard_section {
  
      width: 500px;
    }
    .row {
      gap: 10px;
  
    }
  
    .row input {
      height: 30px;
      min-width: 30px;
      font-size: 12px;
    }
    .row input:focus{
      color: #3498db;
      font-size: 8px;
    }
  }
  @media screen and (max-width:450px) {
    .keyboard_section {
  
      width: 400px;
    }
    .row input {
      height: 20px;
      min-width: 20px;
      font-size: 9px;
  }
  }