@font-face {
    font-family:'bold_poppins' ;
    src: url(/poppins/poppins-bold-webfont.woff);
}
@font-face {
    font-family:'light_poppins' ;
    src: url(/poppins/poppins-light-webfont.woff);
}
@font-face {
    font-family:'regular_poppins' ;
    src: url(/poppins/poppins-regular-webfont.woff);
}
@font-face {
    font-family:'medium_poppins' ;
    src: url(/poppins/poppins-medium-webfont.woff);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'regular_poppins';
}
li{list-style-type: none;}
a{text-decoration: none;}
img{
width: 100%;
}
.section_nav{
display: flex;
justify-content: space-between;
width: 100%;
max-width: 1000px;
margin: 0 auto;
padding: 1rem;
height: 100px;
align-items: center;
}
.section_nav nav{
display: flex;
gap: 2rem;
}
.section_nav nav li a{
font-weight: 500;
color: #333333;
padding: 0.5rem 0.3rem;
transition: all 0.2s ease;
}
.section_nav nav li a:hover{
color:#5c48ee ;
}
#final{
background-color:#5c48ee ;
color: #fff;
border-radius: 5px;
padding: 0.6rem 1.5rem;
transition: all 0.2s ease;
}
#final:hover{
background-color: #301cc4;
}
.logo_nav a{
font-size: 1.5rem;
font-weight: 600;
color:#5c48ee ;
}
.section_content_header{
max-width: 1000px;
margin:auto;
display: grid;
gap: 5rem;
min-height: 100vh;
grid-template-columns: repeat(2,1fr);
}
.right_content{
display: grid;
grid-template-columns:repeat(2,1fr) ;
gap: 2rem;
place-content: center;
position: relative;
}
.right_content img{
max-width: 300px;
border-radius: 10px;
}
.right_content img:first-child{
transform: translateY(-70px);
}
.left_content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.left_content h1{
font-size: 2.5rem;
width: 100%;
line-height: 3.5rem;
}
.left_content p{
margin: 1rem 0 1.5rem 0;
color: #333333;
line-height: 1.7rem;
}
.span_first{
font-weight: 400;
}
.span_second{
font-weight: 700;
color: #0f1e6a;
}
.span_third{
color: #5c48f2;
}
.left_content form{
display: flex;
align-items: center;
width: 100%;
}
.left_content form input{
border: none;
background-color: #fff;
box-shadow:5px 5px 20px rgba(0,0,0,0.2) ;
padding: 1rem;
max-width: 300px;
width: 100%;
outline: none; 
}
.left_content form button{
border: none;
background-color: #5c48f2;
color: #fff;
padding:1rem ;
white-space: nowrap;
box-shadow:5px 5px 20px rgba(0,0,0,0.2);
}
.content_img_text{
background: linear-gradient(to right , rgba(92,72,238,0.6),rgba(15,30,106,0.4));
backdrop-filter: blur(30px);
color: #fff;
padding: 1rem 2rem;
width: 100%;
max-width: 310px;
position: absolute;
top: 55%;
left: 50%;
transform: translate(-35%, -50%);
border-radius: 10px;
line-height: 35px;
}
.right_content_header .content_img_text ul li{
margin-bottom: 0.5rem;
list-style: disc;
}
#toggle_nav:checked + label + ul{
    transform: translateX(0);
    }
    #toggle_nav:checked + label span:first-child{
    transform:rotate(127deg);
    position: relative;
    top: -4px;
    }
    #toggle_nav:checked + label span.line_mid{
        transform: translateX(10px);
        opacity: 0;
    }
    #toggle_nav:checked + label span:last-child{
        position: relative;
        top: -15px;
        transform: rotate(58deg);
    }
@media screen and (min-width:998px){
    .nav_mobile{
    display: none;
    }
}
@media screen and (max-width:999px) {
.section_nav nav{
  display: none;
}
.section_content_header{
  grid-template-columns: repeat(1,1fr);
}
.left_content{
  text-align: center;
}
.left_content form{
  justify-content: center;
}
.right_content img.second_image {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
ul.list_nav_mobile{
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    width: 230px;
    transform: translateX(-350px);
    transition: all 300ms ease-out;
    z-index: 100;
    }
    .line{
        border-bottom: 2px solid;
        width: 24px;
        height: 3px;
        display: block;
        margin-bottom: 3px;
        transition: all 260ms ease-in-out;
        }
        #toggle_nav{
            position: relative;
            top: 15px;
            }
            ul.list_nav_mobile{
                padding: 2rem 0 2rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 2.5rem;
                overflow-x: hidden;
                }
                ul.list_nav_mobile li{
                list-style: none;
                }
ul.list_nav_mobile li a{
color: #333;
border-bottom: 1px solid;
padding-bottom: 5px;
}
.content_img_text{
padding: 0.5rem 0.5rem;
}
  }