*{
margin: 0;
padding: 0;
box-sizing: border-box;
/* direction: rtl; */
/* font-family: vazir; */
}
body{
background-color: #8b8b96;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
div.main a{
text-decoration: none;
color: white;
text-align: center;
font-weight: 500;
font-size: 16px;
background-color:#4e7bc8 ;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 12px 25px;
border-radius: 8px;
}
div.main a:hover{
    background-color:#2b5294 ;
    transition-duration: 0.4s;
}
div.main svg.icon-1{
width: 15px;
height: 15px;
margin-left: 5px;
color: white;
transition-duration: 0.5s;
}
.sub-menu-ul{
background-color: white;
text-align: center;
padding: 8px 0;
margin-top: 14px;
border-radius: 8px;
box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.13);
}
div.sub-menu{
transition-duration:0.5s ;
transition-delay: 80ms;
opacity: 0;
visibility: hidden;
position: absolute;
width: 160px;
}
div.sub-menu ul li{
list-style: none;
padding: 8px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
cursor: pointer;
}
div.sub-menu ul li:hover{
background-color: #4e7bc8 ;
color: white;
}
.dropdown:hover div.sub-menu{
visibility: visible;
opacity: 1;
margin-top: 12px;
}
.dropdown:hover a svg{
transform: rotate(180deg);
}